@tailwind base;
@tailwind components;
@tailwind utilities;

.font-services {
    @apply font-manrope lg:text-4xl text-[50px] font-semibold leading-10;
}

.hero-bg-grey {
    @apply -z-10 w-[1360px] max-w-full bg-[#DBDBDB] lg:h-[180vh] lg:w-full !important;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    height: 100vh;
}

.services-top-curved {
    @apply h-5 lg:h-[80px] w-full absolute -top-[19px] lg:-top-[80px] bg-[#FF0000];
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.services-bottom-curved {
    @apply h-5 lg:h-[80px] w-full absolute -bottom-[19px] lg:-bottom-[80px] bg-[#FF0000];
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.footer-top-curved {
    @apply h-5 lg:h-28 w-full absolute -top-[19px] lg:-top-[112px] bg-[#DBDBDB];
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.footer-font {
    @apply text-base font-bold tracking-wide;
}

.case-bottom-curved {
    @apply h-5 lg:h-28 w-full absolute -bottom-[19px] lg:-bottom-[111px] bg-[#DBDBDB];
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}


/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#particles-js-2 {
    @apply lg:h-[350px] !important;
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-black;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45
}

.navbar-fixed{
    @apply fixed z-[9999] bg-white bg-opacity-60;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2)
}